body {
  font-family: Arial, sans-serif;
}

/* MAIN STYLE */

button {
  border: 0;
  background: transparent;
}

button:hover {
  background-color: rgba(94, 12, 34,0.1);
  cursor: pointer;
}

button:focus{
  background-color: rgba(94, 12, 34,0.4); 
  outline: none;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgba(168, 50, 50, 0.2);
  z-index:10;
}

.nav button {
  text-transform: uppercase;
  padding: 15px;
}

.content {
  width: 1000px;
  margin: 65px auto;
}

.content h2 {
  text-align: center;
  text-transform: uppercase;
}

input {
  width: 200px;
  margin: 10px 5px;
  color: #403866;
  font-size: 18px;
  height: 42px;
  padding: 0 10px;
  border: 1px solid;
  border-radius: 3px;
  border-color: #e6e6e6;
  outline: none;
}

input:focus{
  border-color: #c9abb3;
}

select {
  padding: 10px;
  border: 1px solid #e6e6e6;
}

/* GRID STYLE */

.books-grid-container{
  --row-count: 10;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(var(--row-count), 450px);
}

.books-grid-item{
  margin: 10px;
  padding: 10px 5px;
  position: relative;
}

.books-grid-cover{
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.books-grid-img img{
  height: 300px;
  margin-left: 15%;
}

.books-grid-title{
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: Georgia;
  font-weight: bold;
  margin: 20%;
  padding: 5%;
  text-align: center;
}

.books-grid-author{
  text-transform: uppercase;
  font-size: 1em;
  font-family: Georgia;
  text-align: center;
}

.books-grid-footer{
   opacity: 0.5;
   position: absolute;
   bottom: 10px;
   left: 45%;
}

.books-grid-cover button {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
  display:inline-block;
  position: absolute;
  right: 35%;
  top: 35%;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:13px 23px;
	text-decoration:none;
  text-shadow:0px -1px 0px #2b665e;
}

.books-grid-cover button:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}

/* MODAL STYLE */

.books-modal-img img {
  width: 100px;
  float: right;
  margin: 0px 10px;
}

.books-modal-title {
  text-transform: uppercase;
  text-align: justify;
  font-size: 0.9em;
  margin: 4% 4% 1%;
}

.books-modal-author {
  opacity: 0.5;
  margin: 1% 4%;
  font-size: 0.8em;
}

.books-modal-rating{
  margin: 1% 4%;
}

.books-modal-rating i {
  font-sizE: 1.1em;
  color: #c70039;
}

.books-modal-description{
  font-size: 1em;
  text-align: justify;
  margin: 4%;
}

.books-modal-genres p{
  margin: 3px 6px;
  text-transform: lowercase;
}

.books-modal-genres{
  right: 5%;
  bottom: 15px;
  left: auto;
  background-color: rgba(81,75,84,0.33);
  border: 2px solid rgba(81,75,84,0.52);
  border-radius: 2px;
}